[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = ">=6.0.2"
pandas = "*"
tqdm = "*"
jupyterlab = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.7"
